# Python
__pycache__/
*.pyc
*.pyo

# Virtuelle Umgebungen / virtual environments
.venv/
.venv_win/

# PyInstaller-Build-Ausgaben / PyInstaller build outputs
build/
dist/
*.spec

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
